<section class="hero">
  <app-heaer-v2></app-heaer-v2>
</section>
<div class="">
  <h2 class="text-center">Danh Sách Các Đơn Hàng</h2>
  <br>
  <table id="cart" class="table table-hover table-condensed">
    <thead>
      <tr>
        <th>STT</th>
        <th>Người Mua Hàng</th>
        <th>Số Tiền</th>
        <th>Trạng Thái</th>
        <th>Người nhận hàng</th>
        <th>SĐT KH</th>
        <th>Nơi Nhận Hàng</th>
        <th>Người VCH</th>
        <th>Phí Ship</th>
        <th>Ngày</th>
        <td></td>
        <td></td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of order; index as i" style="text-align: left">
        <td>{{ i + 1 }}</td>
        <td><i>{{ item.name }}</i></td>
        <td>{{ item.total_money | number }} (vnđ) </td>
        <td [ngStyle]="getColorStatusBuy(item.status)">{{ STATUSBUYCOMMON[+item.status] }}</td>
        <td>{{ item.name }}</td>
        <td>{{ item.phone_number }}</td>
        <td>{{ item.address }}</td>
        <td>{{ item.account_id }}</td>
        <td>{{ item.money_shipping | number }} (vnđ)</td>
        <td>{{ item.createdAt | date:"MM/dd/yyyy" }}</td>
        <td><a style="color: blue;" data-toggle="modal" data-target="#myModal"
          (click)="findDetails(item.id)">Chi Tiết</a></td>
        <td><a *ngIf="item.status == 0 || item.status == 1" style="color: blue;"
            (click)="changeStatusOrder(item)">Hủy</a></td>
      </tr>
    </tbody>
  </table>
  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog" style="margin: 0;margin-top: 5%;margin-left: 17%;">
      <!-- Modal content-->
      <div class="modal-content" style="width: 200%;">
        <div class="modal-header">
          <h4 class="modal-title">Chi Tiết Đơn Hàng</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <h5>Thành tiền: {{ total_buy | number }} (vnđ)</h5>
          <table id="cart" class="table table-hover table-condensed" style="text-align: center">
            <thead>
              <tr>
                <th>STT</th>
                <th>Tên mặt hàng</th>
                <th>Giá sản phẩm</th>
                <th>Màu sắc</th>
                <th>Size</th>
                <th>Số lượng</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of list_data_order_details; index as i" style="text-align: center">
                <td>{{ i + 1 }}</td>
                <td><i>{{ item.name }}</i></td>
                <td>{{ item.price_per_unit | number }} (vnđ)</td>
                <td>{{ item.color}}</td>
                <td>{{ item.size }}</td>
                <td>{{ item.quantity }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
        </div>
      </div>

    </div>
  </div>

  <hr />