input:hover {
    cursor: pointer !important;
}

.cart_quantity_input {
    width: 50px !important;
    background-color: green;
    color: white;
}

a:hover {
    color: blue !important; 
    cursor: pointer;
}