<div>
    <header id="header">
        <div class="header-middle">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="logo pull-left">
                            <a href="/"><img src="{{IMAGES_SERVICE}}/images/home/logo.png" alt="" /></a>
                        </div>
                        <div class="mainmenu pull-left" style=" margin-top: 19px; margin-left: 30px; ">
                            <ul class="nav navbar-nav collapse navbar-collapse" >
                                <!-- <li *ngFor="let dataGender of listDataGender"><a href="/">{{ dataGender.gender }}</a>
                                    <ul role="menu" class="sub-menu">
                                        <li *ngFor="let cate of dataGender.categories"><a
                                                href="/category/{{ cate.id }}">{{ cate.name }}</a>
                                        </li>
                                    </ul>
                                </li> -->
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6" style=" top: 12px; ">
                        <div class="shop-menu pull-right">
                            <ul class="">
                                <li *ngIf="role_id == 0"><a href="/cart"><i class="fa fa-shopping-cart"></i> Giỏ
                                        Hàng</a></li>
                                <li *ngIf="!isFlatLogin">
                                    <a href="/login"><i class="fa fa-lock"></i>Đăng nhập</a>
                                </li>
                                <li class="nav-item dropdown" *ngIf="isFlatLogin">
                                    <a data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i
                                            class="fa fa-user"></i>
                                        {{ accountName }}
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" style="padding-left: 10%;"
                                            href="/account-info/{{ id }}">Thông tin khách
                                            hàng</a>
                                        <a class="dropdown-item" style="padding-left: 10%;"
                                            href="/order-history/{{ id }}">Lịch sử mua
                                            hàng</a>
                                        <a *ngIf="role_id == '0' || !role_id" class="dropdown-item"
                                            style="padding-left: 10%;" href="/cart">Giỏ
                                            hàng</a>
                                        <a *ngIf="role_id != 0" class="dropdown-item" style="padding-left: 10%;"
                                            href="/{{ pathManager }}">Trang quản lý</a>
                                        <a class="dropdown-item" style="padding-left: 10%;" (click)="logout()">Đăng
                                            xuất</a>
                                        <a class="dropdown-item" style="padding-left: 10%;" href="#"></a>
                                    </div>
                                </li>
                            </ul>
                            <br />
                            <div>
                                <div class="search_box pull-right">
                                    <input type="text" placeholder="Tìm kiếm." (input)="filterByName()"
                                        [(ngModel)]="nameSearch" [ngModelOptions]="{standalone: true}"
                                        value="{{ nameSearch }}" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

</div>