<div class="col-sm-3">
  <div class="left-sidebar">
    <h2>Sản Phẩm</h2>
    <div class="panel-group category-products" id="accordian">
      <!--category-productsr-->
      <div class="panel panel-default" *ngFor="let dataCategory of listDataCategory">
        <div class="panel-heading">
          <h4 class="panel-title"><a (click)="findByCategory(dataCategory.id)">{{ dataCategory.name }}</a></h4>
        </div>
      </div>
    </div>
    <!--/category-products-->

    <div class="brands_products">
      <!--brands_products-->
      <h2>Nhãn Hiệu</h2>
      <div class="brands-name">
        <ul class="nav nav-pills nav-stacked">
          <li *ngFor="let dataType of listDataType"><a href="#"> <span class="pull-right"></span><b>Hãng
                {{ dataType.name }}</b> </a></li>
        </ul>
      </div>
    </div>
    <!--/brands_products-->
    <div class="shipping text-center">
      <!--shipping-->
      <img src="{{IMAGES_SERVICE}}/images/home/shipping.jpg" alt="" />
    </div>
    <!--/shipping-->
  </div>
</div>