<div class="container text-center">
  <div class="logo-404">
    <a href="index.html"><img src="{{IMAGES_SERVICE}}/images/home/logo.png" alt="" /></a>
  </div>
  <div class="content-404">
    <img style="width: 30%;" src="{{IMAGES_SERVICE}}/images/404/16104680-smile-icon-vector.jpg" class="img-responsive" alt="" />
    <h1><b>Thành công!</b> Cảm ơn bạn đã mua hàng tại HimHouse!</h1>
    <p></p>
    <h2><a href="/">Tiếp tục mua hàng.</a></h2>
  </div>
</div>