td {
    vertical-align: middle;
  }
  
  .nomargin {
    margin-left: 20px;
  }
  
  @media screen and (max-width: 600px) {
    table#cart tbody td .form-control {
      width: 20%;
      display: inline !important;
    }
  
    .actions .btn {
      width: 36%;
      margin: 1.5em 0;
    }
  
    .actions .btn-info {
      float: left;
    }
  
    .actions .btn-danger {
      float: right;
    }
  
    table#cart thead {
      display: none;
    }
  
    table#cart tbody td {
      display: block;
      padding: .6rem;
      min-width: 320px;
    }
  
    table#cart tbody tr td:first-child {
      background: #333;
      color: #fff;
    }
  
    table#cart tbody td:before {
      content: attr(data-th);
      font-weight: bold;
      display: inline-block;
      width: 8rem;
    }
  
    table#cart tfoot td {
      display: block;
    }
  
    table#cart tfoot td .btn {
      display: block;
    }
  }
  
  
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  form {
    border: 3px solid #f1f1f1;
  }
  
  input[type=text],
  input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  button:hover {
    opacity: 0.8;
  }
  
  .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
  }

  .selectionbtn {
    width: auto;
    padding: 10px 18px;
    background-color: aqua;
    color: #333;
    float: right;
    margin-top: -20px;
  }
  .selectedbtn {
    width: auto;
    padding: 12px 18px;
    background-color: cornflowerblue;
    /* color: #333; */
    float: right;
    margin-top: -22px;
  }
  
  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
  }
  
  img.avatar {
    width: 40%;
    border-radius: 50%;
  }
  
  .container {
    padding: 16px;
  }
  
  span.psw {
    float: right;
    padding-top: 16px;
  }
  
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    span.psw {
      display: block;
      float: none;
    }
  
    .cancelbtn {
      width: 100%;
    }
  }
  
  .hero {
    width: 100%;
    position: relative;
    background: none;
    height: auto;
    background-color: #7fb7c3;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
    margin-right: 0px !important;
    margin-left: 0px !important;
  }
  
  .exp-time{
    width: 50% !important;
  }