<section class="hero">
  <app-header-manager></app-header-manager>
</section>

<div class="container" style="padding-top: 5%;" *ngIf="list_data_order">
  <h3 class="text-center">Danh Sách Các Mặt Hàng</h3>
  <label>- Tên khách hàng: <b>{{ list_data_order[0].name }}</b></label><br />
  <label>- Email của Khách hàng: <b>{{ list_data_order[0].email }}</b></label><br />
  <label>- Số ĐT Khách Hàng: <b>{{ list_data_order[0].phone_number }}</b></label><br />
  <label>- Trạng thái đơn hàng: <b>{{ statusOrder }} <label *ngIf="list_data_order[0].status == 2">(
        {{ list_data_order[0].account_id }} )</label></b></label><br/>
  <label *ngIf="list_data_order[0].shipping == 1">- Nơi nhận hàng: <b>{{ list_data_order[0].address }}</b></label><br />
  <label *ngIf="list_data_order[0].shipping == 0">- Nơi nhận hàng: <b>Đến cửa hàng nhận sản phẩm.</b></label><br />
  <div *ngIf="list_data_order[0].status != 6 && list_data_order[0].status != 5">
    <label>- Trạng thái đơn hàng mua : </label>
    <select class="w3-button w3-card-4" name="statusBuy" [(ngModel)]="statusBuy" (change)="changeStatus()"
      [disabled]="list_data_order[0].status == 6">
      <option value="0">{{STATUSBUYCOMMON[0]}}</option>
      <option value="1">{{STATUSBUYCOMMON[1]}}</option>
      <option value="2" *ngIf="list_data_order[0].shipping != 0">{{STATUSBUYCOMMON[2]}}</option>
      <option value="3">{{STATUSBUYCOMMON[3]}}</option>
      <option value="4">{{STATUSBUYCOMMON[4]}}</option>
      <option value="5">{{STATUSBUYCOMMON[5]}}</option>
      <option value="6">{{STATUSBUYCOMMON[6]}}</option>
    </select>
    <hr />
    <div *ngIf="isShipping">
      <label>- Chọn người Ship hàng : </label>
      <select *ngIf="isShipping" class="w3-button w3-card-4" name="statusBuy" [(ngModel)]="shipperId"
        (change)="changeShipper()">
        <option selected>--Chọn shipper--</option>
        <option *ngFor="let ship of list_data_shipper" value="{{ ship.users[0].fullname }}">
          {{ ship.users[0].fullname }}
        </option>
      </select>
      <hr />
    </div>
  </div>
  <div>
    <h3>Sản phẩm mua</h3>
    <table id="cart" class="table table-hover table-condensed">
      <thead>
        <tr>
          <th>Tên Mặt Hàng</th>
          <th>Giá Sản Phẩm</th>
          <th>Size</th>
          <th>Màu sắc</th>
          <th>Số Lượng</th>
          <th>Thành Tiền</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of list_data_order_details | paginate: config;  index as i">
          <td>{{ item.name }}</td>
          <td>{{ item.price_per_unit | number }} (vnđ)</td>
          <td>{{ item.size }}</td>
          <td>{{ item.color }}</td>
          <td>{{ item.quantity }}</td>
          <td>{{ item.price_per_unit * item.quantity | number }} (vnđ)</td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="2" class="hidden-xs"></td>
          <td colspan="4" class="hidden-xs text-center">
            <strong>Tổng tiền đơn hàng mua: {{ total_buy | number }} (vnđ)</strong>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>