<div>
  <app-header-manager></app-header-manager>
  <div class="" style="padding-top: 5%;">
    <h2 class="text-center">Danh Sách Các Đơn Hàng</h2>
    <div class="col-md-12 row">
      <label class="col-md-2">Lọc hiển thị đơn hàng:</label>
      <select class="form-control col-md-5" name="status_buy" [(ngModel)]="status_buy" (change)="searchByStatus()">
        <option [ngValue]="-1">Hiển thị toàn bộ</option>
        <option [ngValue]="0">{{STATUSBUYCOMMON[0]}}</option>
        <option [ngValue]="1">{{STATUSBUYCOMMON[1]}}</option>
        <option [ngValue]="2">{{STATUSBUYCOMMON[2]}}</option>
        <option [ngValue]="3">{{STATUSBUYCOMMON[3]}}</option>
        <option [ngValue]="4">{{STATUSBUYCOMMON[4]}}</option>
        <option [ngValue]="5">{{STATUSBUYCOMMON[5]}}</option>
        <option [ngValue]="6">{{STATUSBUYCOMMON[6]}}</option>
      </select>
      <label class="col-md-2">Lọc theo người ship:</label>
      <select class="form-control" style=" width: 180px; " [(ngModel)]="shipperName" (change)="searchByShipper()">
        <option value="-1">-- Tìm Kiếm --</option>
<<<<<<< HEAD
        <option *ngFor="let shipper of list_data_shipper" value="{{ shipper.users[0].fullname }}">{{ shipper.users[0].fullname }}</option>
=======
        <option *ngFor="let shipper of list_data_shipper" value="{{ shipper.username }}">{{ shipper.username }}</option>
>>>>>>> a987dbf740fe88df325d6113c580ad6d23a704d7
      </select>
    </div>
    <br>
    <table id="cart" class="table table-hover table-condensed" style="text-align: center">
      <thead>
        <tr>
          <th>STT</th>
          <th>Mã Số Đơn Hàng</th>
          <th>Tên Khách hàng</th>
          <th>Giá trị đơn hàng</th>
          <th>Phí ship</th>
          <th>Ngày Tạo Đơn</th>
          <th>Trạng thái</th>
          <th>Người Ship</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of list_data_order| paginate: config;  index as i " style="text-align: center">
          <td>{{ i + 1 }}</td>
          <td data-th="order_id">{{ item.order_id }}</td>
          <td data-th="name"><i>{{ item.name }}</i></td>
          <td data-th="total">{{ item.total_money | currency:'VND' }}</td>
          <td>{{ item.money_shipping | number }} (vnđ)</td>
          <td data-th="create_date">{{ item.createdAt | date:"MM/dd/yyyy 'lúc' h:mma" }}</td>
          <td data-th="status" [ngStyle]="getColorStatusBuy(item.status)"><a href="/order-manager/{{item.id}}"
              [ngStyle]="getColorStatusBuy(item.status)"
              [ngClass]="item.status == null ? 'isDisabled' : ''">{{STATUSBUYCOMMON[item.status]}}</a></td>
          <td>{{ item.account_id }}</td>
        </tr>
      </tbody>
    </table>
    <pagination-controls style=" text-align: center; " (pageChange)="pageChanged($event)">
    </pagination-controls>
    <br /><br /><br />
    <hr />
  </div>