<div>
  <app-heaer-v2></app-heaer-v2>
  <section id="cart_items">
    <div *ngIf="!isPayments" class="container">
      <div class="table-responsive cart_info" style="max-height: 381px;overflow-x: hidden;">
        <table class="table table-condensed">
          <thead>
            <tr class="cart_menu">
              <td class="image" style=" width: 20%; ">Sản phẩm</td>
              <td class="description" style=" width: 20%; "></td>
              <td class="price">Giá</td>
              <td class="quantity">Số Lượng</td>
              <td class="quantity">Size</td>
              <td class="quantity">Màu Sắc</td>
              <td class="total">Tổng</td>
              <td></td>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let cardItem of item">
              <td class="cart_product" routerLink="/product/{{ cardItem.product.id }}">
                <img src="{{IMAGES_SERVICE}}/images/home/{{ cardItem.product.image }}" alt="" style="width: 40%;">
              </td>
              <td class="cart_description">
                <h4><a href=""><b>{{ cardItem.product.name }}</b></a></h4>
                <p><i>{{ cardItem.product.description }}</i></p>
              </td>
              <td class="cart_price">
                <p>{{ cardItem.product.price_per_unit | currency: "VND" }}</p>
              </td>
              <td class="cart_quantity">
                <a
                  href="/product/{{ cardItem.product.id }}?quantity={{ cardItem.quantity }}&size={{ cardItem.site }}&color={{ cardItem.color }}">
                  <div class="cart_quantity_button">
                    <input class="cart_quantity_input" disabled type="text" name="quantity"
                      value="{{ cardItem.quantity }}">
                  </div>
                </a>
              </td>
              <td class="cart_quantity">
                <a
                  href="/product/{{ cardItem.product.id }}?quantity={{ cardItem.quantity }}&size={{ cardItem.site }}&color={{ cardItem.color }}">
                  <input class="cart_quantity_input" disabled type="text" name="size" value="{{ cardItem.site }}" />
                </a>
              </td>
              <td class="cart_quantity">
                <a
                  href="/product/{{ cardItem.product.id }}?quantity={{ cardItem.quantity }}&size={{ cardItem.site }}&color={{ cardItem.color }}">
                  <div class="cart_quantity_button">
                    <input class="cart_quantity_input" type="text" name="color" value="{{ cardItem.color }}" />
                  </div>
                </a>
              </td>
              <td class="cart_total" routerLink="/product/{{ cardItem.product.id }}">
                <p class="cart_total_price">{{ cardItem.product.price_per_unit * cardItem.quantity | currency: "VND" }}
                </p>
              </td>
              <td class="cart_delete">
                <a class="cart_quantity_delete"
                  (click)="removeOrder(cardItem.product.id, cardItem.site, cardItem.color)"><i
                    class="fa fa-times"></i></a>
              </td>
            </tr>
            <tr>
              <td *ngIf="item.length <= 0" style="text-align: center" colspan="7">
                <i>Chưa có sản phẩm nào được thêm vào giỏ hàng.</i>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <a *ngIf="item.length <= 0" class="btn btn-default update"
      style=" margin-left: 47%; background-color: green; width: 100px; " href="/">Mua
      Hàng</a>
  </section>
  <!--/#cart_items-->
  <section *ngIf="item.length > 0" id="do_action">
    <div class="container">
      <div class="heading">
        <h3>Thông tin thanh toán.</h3>
        <p>Bạn vui lòng chọn hình thức thanh toán và kiểm tra lại thông tin đơn hàng dưới đây.</p>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div *ngIf="isPayments" class="chose_area">
            <ul class="user_option">
              <li *ngFor="let tran of trans">
                <input type="radio" [(ngModel)]="radioSelected" value="{{tran.value}}" name="payment"
                  (change)="onItemChange(tran)">
                <label>{{ tran.name }}</label>
              </li>
            </ul>
          </div>
          <div *ngIf="isPayments">
            <h3>Thông tin người nhận.</h3>
            <p>Bạn vui lòng kiểm tra lại thông tin người nhận dưới đây.</p>
          </div>
          <div *ngIf="isPayments" class="chose_area">
            <ul *ngIf="radioSelected == 0" class="user_option">
              Thông tin:
              <li>- Địa chỉ: <b>54a Vincom Nguyễn Chí Thanh.</b></li>
              <li>- Hotline: <b>0988.888.888.</b></li>
            </ul>
            <ul *ngIf="radioSelected == 1" class="user_option">
              Thông tin:
              <table>
                <tr>
                  <td>
                    - Người nhận:
                  </td>
                  <td>
                    <input [(ngModel)]="fullnameOrder" [ngModelOptions]="{standalone: true}" placeholder="Họ và tên"
                      type="text" value="{{ fullnameOrder }}">
                  </td>
                </tr>
                <tr>
                  <td>
                    - Điện thoại:
                  </td>
                  <td>
                    <input [(ngModel)]="phoneOrder" [ngModelOptions]="{standalone: true}" placeholder="0988888888"
                      type="text" value="{{ phoneOrder }}">
                  </td>
                </tr>
                <tr>
                  <td>
                    - Email:
                  </td>
                  <td>
                    <input [(ngModel)]="emailOrder" [ngModelOptions]="{standalone: true}"
                      placeholder="admin@gmail.com.vn" type="text" value="{{ emailOrder }}">
                  </td>
                </tr>
                <tr>
                  <td>- Khu vực</td>
                  <td>
                    <select (change)="changeArea($event)">
                      <option value="0">Nội Thành</option>
                      <option value="1">Ngoại Thành</option>
                    </select>
                  </td>
                </tr>
                <tr>
                  <td>
                    - Địa chỉ:
                  </td>
                  <td>
                    <textarea [(ngModel)]="adressOrder" [ngModelOptions]="{standalone: true}" rows="4"
                      cols="40">{{ adressOrder }}</textarea>
                  </td>
                </tr>
              </table>
            </ul>
            <div class="user_option">
              <h5 class="user_option" style="color: red;margin-left: 40px;"><i>{{message}}</i></h5>
            </div>
            <a class="btn btn-default update" (click)="order()">Đặt Hàng</a>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="total_area">
            <ul>
              <li>Tổng tiền <span>{{ totalBuy | number }}(vnđ)</span></li>
              <!-- <li>VAT <span>{{ 0.1 * totalBuy | number }}(vnđ)</span></li> -->
              <li *ngIf="isShowFeeShip">Phí Ship <span>{{ moneyShipper | number }} (vnđ)</span></li>
              <li>Tổng hóa đơn <span>{{ totalBuy  + moneyShipper | number }}(vnđ)</span></li>
            </ul>
            <a *ngIf="!isClickPayemnt" class="btn btn-default update" (click)="paymentOrder()">Thanh Toán</a>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<router-outlet></router-outlet>