@import url('../public/css/bootstrap.min.css');
@import url('../public/css/price-range.css');
@import url('../public/css/animate.css');
@import url('../public/css/main.css');
@import url('../public/css/responsive.css');

a:hover {
    color: orange !important;
    font-weight: bold !important;
    cursor: pointer !important;
    color: white !important;
}

div {
    cursor: pointer;
}