<div>
  <app-header-manager></app-header-manager>
  <br />
  <div class="">
    <section style="padding-left: 2%;" class="container_button">
      <h4>Nhập hàng:</h4>
      <table>
        <tr>
          <td>Nhà cung cấp</td>
          <td><input /></td>
        </tr>
        <tr>
          <td>Số lượng</td>
          <td><input /></td>
        </tr>
        <tr>
          <td>Loại sản phẩm</td>
          <td><input /></td>
        </tr>
        <tr>
          <td>Tên sản phẩm</td>
          <td><input /></td>
        </tr>
        <tr>
          <td>Giá nhập</td>
          <td><input /></td>
        </tr>
      </table>
    </section>
  </div>
  <br />
</div>