<<<<<<< HEAD
@import url('../public/css/bootstrap.min.css');
@import url('../public/css/price-range.css');
@import url('../public/css/animate.css');
@import url('../public/css/main.css');
@import url('../public/css/responsive.css');

.dropdown:hover>.dropdown-menu {
    display: block;
}

.dropdown>.dropdown-toggle:active {
    pointer-events: stroke;
} .mainmenu{
    margin-top: 19px;
    margin-left: 30px;
}
.mainmenu .nav li a{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
	padding: 0;
    padding-bottom: 10px;
    color: black;
}
.mainmenu .sub-menu li a{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    font-weight: 100;
	padding: 0;
    padding-bottom: 10px;
    color: black;
}

.shop-menu ul li a{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: white;
    color:black;
    font-size: 16px;
    font-weight: 300;
    padding:0;
    padding-right: 0;
    margin-top: 10px;
}

.dropdown-menu{
    background-color: white;
    padding-right: 16px;
}

.show {
    /* display: none !important; */
=======
@import url('../public/css/bootstrap.min.css');
@import url('../public/css/price-range.css');
@import url('../public/css/animate.css');
@import url('../public/css/main.css');
@import url('../public/css/responsive.css');

.dropdown:hover>.dropdown-menu {
    display: block;
}

.dropdown>.dropdown-toggle:active {
    pointer-events: stroke;
} .mainmenu{
    margin-top: 19px;
    margin-left: 30px;
}
.mainmenu .nav li a{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
	padding: 0;
    padding-bottom: 10px;
    color: black;
}
.mainmenu .sub-menu li a{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    font-weight: 100;
	padding: 0;
    padding-bottom: 10px;
    color: black;
}

.shop-menu ul li a{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: white;
    color:black;
    font-size: 16px;
    font-weight: 300;
    padding:0;
    padding-right: 0;
    margin-top: 10px;
}

.dropdown-menu{
    background-color: white;
    padding-right: 16px;
}

.show {
    /* display: none !important; */
>>>>>>> a987dbf740fe88df325d6113c580ad6d23a704d7
}