<div>
    <app-heaer-v2></app-heaer-v2>
    <section id="form" style="margin-top:0px;">
        <!--form-->
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="signup-form">
                        <h2><b>Thông tin tài khoản.</b></h2>
                        <form action="#">
                            <table style=" width: 60%; ">
                                <tr>
                                    <td>Họ và tên</td>
                                    <td><input type="text"
                                            style="background: white;color: black;border: solid 1px black;"
                                            [(ngModel)]="users.fullname" [ngModelOptions]="{standalone: true}"
                                            placeholder="Họ và tên" /></td>
                                </tr>
                                <tr>
                                    <td>Địa chỉ</td>
                                    <input type="text" style="background: white;color: black;border: solid 1px black;"
                                        [(ngModel)]="users.address" [ngModelOptions]="{standalone: true}"
                                        placeholder="Địa chỉ" />
                                </tr>
                                <tr>
                                    <td>Email</td>
                                    <td><input type="email"
                                            style="background: white;color: black;border: solid 1px black;"
                                            [(ngModel)]="users.email" [ngModelOptions]="{standalone: true}"
                                            placeholder="Email" /></td>
                                </tr>
                                <tr>
                                    <td>Số điện thoại</td>
                                    <td><input type="text"
                                            style="background: white;color: black;border: solid 1px black;"
                                            [(ngModel)]="users.phone_number" [ngModelOptions]="{standalone: true}"
                                            placeholder="Số điện thoại" /></td>
                                </tr>
                                <tr>
                                    <td>Tên tài khoản</td>
                                    <td><input type="text"
                                            style="background: white;color: black;border: solid 1px black;"
                                            [(ngModel)]="accounts.username" disabled
                                            [ngModelOptions]="{standalone: true}" placeholder="Tên đang nhập" /></td>
                                </tr>
                                <tr>
                                    <td><input style=" width: 20px;float: right; " (click)="changePass($event)"
                                            type="checkbox" /></td>
                                    <td> Đổi mật khẩu</td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>
                                        <button type="submit" (click)="updateAccount()" class="btn btn-default">
                                            Lưu
                                        </button>
                                    </td>
                                </tr>
                            </table>
                            <hr /><br />
                            <table *ngIf="isFlatChangePass" style=" width: 60%; ">
                                <tr>
                                    <td>Mật Khẩu Cũ</td>
                                    <td><input type="password"
                                            style="background: white;color: black;border: solid 1px black;"
                                            [(ngModel)]="oldPassword" [ngModelOptions]="{standalone: true}"
                                            placeholder="Mật khẩu" /></td>
                                </tr>
                                <tr>
                                    <td>Mật Khẩu Mới</td>
                                    <td><input type="password"
                                            style="background: white;color: black;border: solid 1px black;"
                                            [(ngModel)]="newPassword" [ngModelOptions]="{standalone: true}"
                                            placeholder="Mật khẩu" /></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>
                                        <button type="submit" (click)="changeNewPassword()" class="btn btn-default">
                                            Đổi Mật Khẩu
                                        </button>
                                    </td>
                                </tr>
                            </table>

                        </form>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <app-footer></app-footer>
</div>