<div>
    <app-header-manager></app-header-manager>
    <br />
    <div class="container">
        <section class="container_button">
            <h4>Danh sách tài khoản:</h4>
        </section>
    </div>
    <br />
    <div class="container" *ngIf="listAccount">
        <table id="cart" class="table table-hover table-condensed">
            <thead style=" background-color: orange; color: white; ">
                <tr>
                    <th>STT</th>
                    <th>Họ và tên</th>
                    <th>Email</th>
                    <th>Địa chỉ</th>
                    <th>Số điện thoại</th>
                    <th>Tên đăng nhập</th>
                    <th>Role</th>
                    <th>Trạng Thái</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let acc of listAccount | paginate: config ; index as i">
                    <td>{{ i+1 }}</td>
                    <td>
                        <i>{{acc.users[0].fullname }}</i>
                    </td>
                    <td>
                        <i>{{acc.users[0].email }}</i>
                    </td>
                    <td>
                        <i>{{acc.users[0].address }}</i>
                    </td>
                    <td>
                        <i>{{acc.users[0].phone_number }}</i>
                    </td>
                    <td>
                        <i>{{acc.username }}</i>
                    </td>
                    <td>
                        <i>{{acc.role_id == -1 ? "SHIPPER" : acc.role_id == 0 ? "CUSTOMER" : acc.role_id == 1 ? "STAFF" : acc.role_id == 2 ? "MANAGER" : acc.role_id == 3 ? "ADMIN" : "NOT ROLE" }}</i>
                    </td>
                    <td>
                        <i>{{ !acc.is_delete ? "Hoạt động" : "Khóa hoạt động" }}</i>
                    </td>
                    <td>
                        <img (click)="editAcc(acc)" data-toggle="modal" data-target="#myModal" src="assets/img/edit.png"
                            style=" width: 18px; " alt="btn delete"> 
                        <!-- <img (click)="deleteAcc(acc)" src="assets/img/delete.png" style=" width: 18px; "
                            alt="btn delete"> -->
                    <td>
                </tr>
            </tbody>
        </table>
        <pagination-controls style=" text-align: center; " (pageChange)="pageChanged($event)"></pagination-controls>
        <!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog" style="margin: 0;margin-top: 5%;margin-left: 17%;">
                <!-- Modal content-->
                <div class="modal-content" style="width: 200%;">
                    <div class="modal-header">
                        <h4 class="modal-title">Chi Tiết Tài Khoản:</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <table>
                            <tr>
                                <td>Tên đăng nhập : </td>
                                <td>
                                    <b>{{ dataAccountById.username | uppercase}}</b>
                                <td>
                            </tr>
                            <tr>
                                <td>Trạng thái</td>
                                <td>
                                    <select [(ngModel)]="statusSelected">
                                        <option value="0">Hoạt động</option>
                                        <option value="1">Khóa tài khoản</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>Role</td>
                                <td>
                                    <select [(ngModel)]="roleSelected">
                                        <option value="-1">SHIPPER</option>
                                        <option value="0">CUSTOMER</option>
                                        <option value="1">STAFF</option>
                                        <option value="2">MANAGER</option>
                                        <option value="3">ADMIN</option>
                                    </select>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" (click)="updateAccount()">Lưu</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                    </div>
                </div>

            </div>
        </div>
        <div style=" float: right; ">
            <!-- <button class="btn btn-success">Thêm Tài Khoản</button> -->
        </div>
    </div>
</div>