@import url('../public/css/bootstrap.min.css');
@import url('../public/css/price-range.css');
@import url('../public/css/animate.css');
@import url('../public/css/main.css');
@import url('../public/css/responsive.css');

a:hover {
    background-color: blue !important;
}

a {
    cursor: pointer;
}

#embed_vchat {
    display: none !important;
}