<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" routerLink="/">HimHouse</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li *ngIf="accontInfo.role_id == 2" class="nav-item active">
                <a class="nav-link" routerLink="/product-manager">Sản Phẩm</a>
            </li>
            <li *ngIf="accontInfo.role_id == 3" class="nav-item active">
                <a class="nav-link" routerLink="/account-manager">Tài Khoản</a>
            </li>
            <li *ngIf="accontInfo.role_id == 1 || accontInfo.role_id == 2" class="nav-item active">
                <a class="nav-link" routerLink="/order-manager">Đơn Hàng</a>
            </li>
            <li *ngIf="accontInfo.role_id == 2" class="nav-item active">
                <a class="nav-link" routerLink="/chart-manager">Thống Kê</a>
            </li>
        </ul>
        <ul class="navbar-nav mr-auto" style=" float: right; ">
            <li class="nav-item active">
                <a class="nav-link" (click)="logout()">Xin chào <b>{{ accontInfo.username }}</b></a>
            </li>
        </ul>
    </div>
</nav>
<router-outlet></router-outlet>