<div>
  <app-header-manager></app-header-manager>
  <br />
  <div class="">
    <section style="padding-left: 2%;" class="container_button">
      <h4>Danh sách Loại Sản Phẩm:</h4>
    </section>
  </div>
  <br />
  <div style=" float: right; padding-right: 30px; padding-bottom: 10px; ">
    <button class="btn btn-success" (click)="addProduct()" data-toggle="modal" data-target="#myModal">
      Thêm Loại Sản Phẩm
    </button>
    <button class="btn btn-success" style="margin-left: 5px;" (click)="addProduct()" data-toggle="modal"
      data-target="#addProductType">
      Thêm Product Type
    </button>
  </div>
  <div style="padding: 2%;" *ngIf="listDataCategory">
    <table id="cart" class="table table-hover table-condensed">
      <thead style=" background-color: orange; color: white; ">
        <tr>
          <th>STT</th>
          <th>Loại Sản Phẩm</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let category of listDataCategory;index as i">
          <td>{{ i+1 }}</td>
          <td><i>{{category.name }}</i></td>
          <td>
            <img (click)="editCategory(category)" data-toggle="modal" data-target="#myModal" src="assets/img/edit.png"
              style=" width: 18px; " alt="btn delete"> |
            <img (click)="deleteCategory(category)" src="assets/img/delete.png" style=" width: 18px; " alt="btn delete">
          <td>
        </tr>
      </tbody>
    </table>
    <div class="modal fade" id="myModal" role="dialog">
      <div class="modal-dialog" style="margin: 0;margin-top: 5%;margin-left: 32%;">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Thêm Sản Phẩm:</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
            <table>
              <tr>
                <td>Tên Loại Sản Phẩm</td>
                <td><input type="text" [(ngModel)]="categoriesName" [ngModelOptions]="{standalone: true}" /></td>
              </tr>
              <tr>
                <td>Chi tiết</td>
                <td><input [(ngModel)]="description" [ngModelOptions]="{standalone: true}" /></td>
              </tr>
              <tr>
                <td>Gender</td>
                <td>
                  <input type="checkbox" id="gender_1" value="1" (change)="updateGender($event)" name="gender" />Nam
                  <input type="checkbox" id="gender_2" value="2" (change)="updateGender($event)" name="gender" />Nữ
                  <input type="checkbox" id="gender_3" value="3" (change)="updateGender($event)" name="gender" />Trẻ em
                </td>
              </tr>
            </table>
            <hr />
            <h3>Product Type</h3>
            <table border="1" style=" width: 100%; text-align: center;">
              <tr style=" background-color: rgb(0, 110, 255); color: white; ">
                <td>STT</td>
                <td>Tên</td>
                <td></td>
              </tr>
              <tr *ngFor="let prodType of listProductTypeByCate; index as i">
                <td>{{ i+1 }}</td>
                <td>{{ prodType.name }}</td>
                <td>
                  <img (click)="deleteProdType(prodType)" src="assets/img/delete.png" style=" width: 18px; "
                    alt="btn delete">
                </td>
              </tr>
            </table>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-success" *ngIf="!isFlatCreateCategory"
              (click)="updateCategory()">Lưu</button>
            <button type="button" class="btn btn-success" *ngIf="isFlatCreateCategory" (click)="createProduct()">Tạo
              mới</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="addProductType" role="dialog">
      <div class="modal-dialog" style="margin: 0;margin-top: 5%;margin-left: 32%;">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Thêm Product Type:</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
            <table>
              <tr>
                <td>Tên Loại Sản Phẩm: </td>
                <td>
                  <select style=" width: 100%; " [(ngModel)]="categorySelected">
                    <option *ngFor="let category of listDataCategory;" value="{{ category.id }}">
                      {{ category.name }}
                    </option>
                  </select>
                </td>
              </tr>
              <tr>
                <td>Product Type: </td>
                <td><input [(ngModel)]="productTypeNew" [ngModelOptions]="{standalone: true}" /></td>
              </tr>
            </table>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-success" (click)="createProductType()">Tạo
              mới</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>