<div>
    <app-header-manager></app-header-manager>
    <br />
    <div class="">
        <section style="padding-left: 2%;" class="container_button">
            <h4>Danh sách Sản phẩm:</h4>
        </section>
    </div>
    <br />
    <div style=" float: right; padding-right: 30px; padding-bottom: 40px; ">
        <button class="btn btn-success" style=" margin-right: 5px; ">
            <a href="/categories-manager" style="color: white;">Thêm Loại Sản Phẩm</a>
        </button>
        <button class="btn btn-success" (click)="addProduct()" data-toggle="modal" data-target="#myModal">
            Thêm Sản Phẩm
        </button>
    </div>
    <div style="padding: 2%;" *ngIf="listProduct">
        <table id="cart" class="table table-hover table-condensed">
            <thead style=" background-color: orange; color: white; ">
                <tr>
                    <th>STT</th>
                    <th style=" width: 18%; ">Ảnh</th>
                    <th>Tên Sản Phẩm</th>
                    <th>Số Lượng</th>
                    <th>Đơn vị</th>
                    <th>Giá Nhập</th>
                    <th>Giá Bán</th>
                    <th>Product Type</th>
                    <!-- <th style="width: 20%;white-space: pre-line;">Thông Tin</th> -->
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let product of listProduct | paginate: config ; index as i"
                    [ngStyle]="methodChangeColor(product.inventory)">
                    <td>{{ i+1 }}</td>
                    <td>
                        <img src="{{IMAGES_SERVICE}}/images/home/{{ product.image }}" style=" width: 20%; " alt="" />
                    </td>
                    <td><i>{{product.name }}</i></td>
                    <td><i>{{product.inventory }}</i></td>
                    <td><i>{{product.unit }}</i></td>
                    <td><i>{{product.old_price | number}} (vnđ)</i></td>
                    <td><i>{{product.price_per_unit | number}} (vnđ)</i></td>
                    <td><i>{{product.prod_type.name}}</i></td>
                    <td>
                        <img (click)="editProduct(product)" data-toggle="modal" data-target="#myModal"
                            src="assets/img/edit.png" style=" width: 18px; " alt="btn delete"> |
                        <img (click)="deleteProduct(product)" src="assets/img/delete.png" style=" width: 18px; "
                            alt="btn delete">
                    <td>
                </tr>
            </tbody>
        </table>
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog" style="margin: 0;margin-top: 5%;margin-left: 17%;">
                <!-- Modal content-->
                <div class="modal-content" style="width: 200%;">
                    <div class="modal-header">
                        <h4 class="modal-title">Chi Tiết Sản Phẩm:</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body row">
                        <div class="col-md-6">
                            <table style=" width: 100%; ">
                                <tr>
                                    <td>Tên sản phẩm : </td>
                                    <td>
                                        <input style=" width: 100%; " type="text" [(ngModel)]="name"
                                            [ngModelOptions]="{standalone: true}" value="{{ dataProductById.name }}" />
                                    <td>
                                </tr>
                                <tr>
                                    <td>Số lượng trong kho : </td>
                                    <td>
                                        <input style=" width: 100%; " min="1" type="number" [(ngModel)]="inventory"
                                            [ngModelOptions]="{standalone: true}" (input)="validNumber()"
                                            value="{{ dataProductById.inventory }}" />
                                    <td>
                                </tr>
                                <tr>
                                    <td>Giá nhập hàng : </td>
                                    <td>
                                        <input style=" width: 100%; " type="number" [(ngModel)]="old_price"
                                            [ngModelOptions]="{standalone: true}" (input)="validNumberMoney()"
                                            value="{{ dataProductById.old_price }}" />
                                    <td>
                                </tr>
                                <tr>
                                    <td>Giá bán hàng : </td>
                                    <td>
                                        <input style=" width: 100%; " type="number" [(ngModel)]="price_per_unit"
                                            [ngModelOptions]="{standalone: true}" (input)="validNumberMoneyPrice()"
                                            value="{{ dataProductById.price_per_unit }}" />
                                    <td>
                                </tr>
                                <tr>
                                    <td>Size : </td>
                                    <td>
                                        <input style=" width: 100%; " type="text" [(ngModel)]="size"
                                            [ngModelOptions]="{standalone: true}" value="{{ dataProductById.size }}" />
                                    <td>
                                </tr>
                                <tr>
                                    <td>Màu sắc : </td>
                                    <td>
                                        <input style=" width: 100%; " type="text" [(ngModel)]="color"
                                            [ngModelOptions]="{standalone: true}" value="{{ dataProductById.color }}" />
                                    <td>
                                </tr>
                                <tr>
                                    <td>Ghi chú : </td>
                                    <td>
                                        <textarea style=" width: 100%; " [(ngModel)]="des"
                                            [ngModelOptions]="{standalone: true}"
                                            value="{{ dataProductById.description }}">{{ dataProductById.description }}</textarea>
                                    <td>
                                </tr>
                                <tr>
                                    <td>Giới tính : </td>
                                    <td>
                                        <input type="checkbox" id="gender_1" value="1" (change)="updateGender($event)"
                                            name="gender" />Nam
                                        <input type="checkbox" id="gender_2" value="2" (change)="updateGender($event)"
                                            name="gender" />Nữ
                                        <input type="checkbox" id="gender_3" value="3" (change)="updateGender($event)"
                                            name="gender" />Trẻ em
                                    </td>
                                </tr>
                                <tr>
                                    <td>Category : </td>
                                    <td>
                                        <select style=" width: 100%; " [(ngModel)]="categorySelected"
                                            [ngModelOptions]="{standalone: true}" (change)="onchangeCategory($event)">
                                            <option *ngFor="let cate of listDataCategory" value="{{ cate.id }}">
                                                {{ cate.name }}
                                            </option>
                                        </select>
                                    <td>
                                </tr>
                                <tr>
                                    <td>Product Type : </td>
                                    <td>
                                        <select style=" width: 100%; " [(ngModel)]="typeSelected"
                                            [ngModelOptions]="{standalone: true}" (change)="onchangeType($event)">
                                            <option *ngFor="let type of listDataType" value="{{ type.id }}">
                                                {{ type.name }}</option>
                                        </select>
                                    <td>
                                </tr>
                                <tr>
                                    <td>Ảnh Phụ</td>
                                    <td>
                                        <div class="row">
                                            <div *ngFor="let proImage of productImages">
                                                <img style=" border: 1px solid black;width: 85px;height: 85px; "
                                                    (click)="updateImage(proImage['images'])"
                                                    src="{{IMAGES_SERVICE}}/images/home/{{ proImage['images'] }}">
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="col-md-6">
                            <img *ngIf="image" src="{{ filePreviewPath }}" style=" width: 450px; " alt="" />
                            <table>
                                <tr>
                                    <td>Ảnh chính: </td>
                                    <td><input type="file" name="photo" ng2FileSelect [uploader]="uploader" /></td>
                                </tr>
                                <tr *ngIf="!isFlatCreateProduct">
                                    <td>Ảnh phụ: </td>
                                    <td>
                                        <input type="file" name="photo" (change)="uploadThum()" ng2FileSelect
                                            [uploader]="uploader" multiple />
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" *ngIf="!isFlatCreateProduct"
                            (click)="updateProduct()">Lưu</button>
                        <button type="button" class="btn btn-success" *ngIf="isFlatCreateProduct"
                            (click)="createProduct()">Tạo Mới</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal"
                            (click)="closePoupup()">Đóng</button>
                    </div>
                </div>
            </div>
        </div>
        <pagination-controls style=" text-align: center; " (pageChange)="pageChanged($event)"></pagination-controls>
    </div>
</div>