<div>
  <!--/header-->
  <app-heaer-v2 (nameSearchFilter)="filterParent($event)"></app-heaer-v2>
  <section id="slider">
    <div>
      <div class="row">
        <div class="col-sm-12">
          <div id="slider-carousel" class="carousel slide" data-ride="carousel">
            <div>
              <div>
                <div class="col-sm-12">
                  <img src="{{IMAGES_SERVICE}}/images/home/banner1.jpg" class="girl img-responsive" alt="" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row" style="margin-top: 45px;">
        <div class="col-sm-12">
          <div id="slider-carousel" class="carousel slide" data-ride="carousel">
            <div>
              <div>
                <div class="col-sm-12">
                  <img src="{{IMAGES_SERVICE}}/images/home/banner2.jpg" class="girl img-responsive" alt="" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div>
      <div class="row">
        <div class="col-sm-12">
          <div class="features_items">
            <div class="col-sm-4" *ngFor="let dataGen of listDataGender">
              <div class="product-image-wrapper">
                <div class="single-products">
                  <div class="productinfo text-center" (click)="redirect(dataGen.id)">
                    <img src="{{IMAGES_SERVICE}}/images/home/{{ dataGen.image }}" alt="" />
                    <a class="btn btn-default add-to-cart">
                      {{ dataGen.gender }}
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <app-footer></app-footer>
</div>
<router-outlet></router-outlet>