@import url('../public/css/bootstrap.min.css');
@import url('../public/css/price-range.css');
@import url('../public/css/animate.css');
@import url('../public/css/main.css');
@import url('../public/css/responsive.css');

.dropdown:hover>.dropdown-menu {
    display: block;
}

.dropdown>.dropdown-toggle:active {
    pointer-events: none;
}
  
div {
    cursor: pointer;
}
div .productinfo img{
    height: auto;
    max-width: 100%;
}
div .productinfo a{
    margin-top: -25px;
    font-size: 23px;
    width: 115px;
    background-color: #dee2e6;
    border-radius: 20px;
}