<div>
  <app-header-manager></app-header-manager>
  <div class="row" style="margin-top: 50px;">
    <div class="col-md-9 row area_search">
      <div class="col-md-1" style="padding-top: 5px ; padding-right: 0">
        Từ ngày
      </div>
      <div class="col-md-3">
        <input type="date" max="{{ end_date }}" class="form-control" name="start_date" [(ngModel)]="start_date">
      </div>
      <div class="col-md-1" style="padding-top: 5px; padding-right: 0; padding-left: 0">
        Đến ngày
      </div>
      <div class="col-md-3">
        <input type="date" min="{{ start_date }}" class="form-control" name="end_date" [(ngModel)]="end_date">
      </div>
      <div class="col-md-2">
        <select class="form-control" name="type" [(ngModel)]="type">
          <option [ngValue]="0">Số lượng</option>
          <option [ngValue]="1">Số tiền bán hàng</option>
          <option [ngValue]="2">Số tiền lãi</option>
        </select>
      </div>
      <div class="col-md-2">
        <button type="button" (click)="find_KPI()" class="btn btn-success padding_button">Tìm kiếm</button>
      </div>
    </div>
  </div>
  <div style="padding-top: 20px">
    <div id="chartContainer"></div>
  </div>
</div>