<div>
    <app-heaer-v2></app-heaer-v2>
    <section id="form" style="margin-top:0px;">
        <!--form-->
        <div class="container">
            <div class="row">
                <div class="col-sm-4 col-sm-offset-1">
                    <div class="login-form">
                        <!--login form-->
                        <h2><b>Đăng nhập</b></h2>
                        <form action="#">
                            <input type="text" name="username" [(ngModel)]="username" [ngModelOptions]="{standalone: true}" placeholder="Tên đăng nhập" />
                            <input type="password" name="password" [(ngModel)]="password" [ngModelOptions]="{standalone: true}" placeholder="Mật khẩu" />
                            <button type="submit" (click)="sigInAccount()" class="btn btn-default">Đăng Nhập</button>
                        </form>
                        <div>
                            <h5 style="color: red"><i>{{message}}</i></h5>
                        </div>
                    </div>
                    <!--/login form-->
                </div>
                <div class="col-sm-1">
                    <h2 class="or">Hoặc</h2>
                </div>
                <div class="col-sm-4">
                    <div class="signup-form">
                        <h2><b>Đăng ký thành viên.</b></h2>
                        <form action="#">
                            <input type="text" [(ngModel)]="users.fullname" [ngModelOptions]="{standalone: true}" placeholder="Họ và tên" />
                            <input type="text" [(ngModel)]="users.address" [ngModelOptions]="{standalone: true}" placeholder="Địa chỉ" />
                            <input type="email" [(ngModel)]="users.email" [ngModelOptions]="{standalone: true}" placeholder="Email" />
                            <input type="text" [(ngModel)]="users.phone_number" [ngModelOptions]="{standalone: true}" placeholder="Số điện thoại" />
                            <input type="text" [(ngModel)]="accounts.username" [ngModelOptions]="{standalone: true}" placeholder="Tên đang nhập" />
                            <input type="password" [(ngModel)]="accounts.password" [ngModelOptions]="{standalone: true}" placeholder="Mật khẩu" />
                            <input type="password" [(ngModel)]="confirmPassword" [ngModelOptions]="{standalone: true}" placeholder="Nhập lại mật khẩu" />
                            <button type="submit" (click)="regesterAccount()" class="btn btn-default">Đăng Ký</button>
                        </form>
                        <div>
                            <h5 style="color: red"><i>{{messageReg}}</i></h5>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <app-footer></app-footer>
</div>