<div class="container text-center">
		<div class="logo-404">
			<a href="index.html"><img src="{{IMAGES_SERVICE}}/images/home/logo.png" alt="" /></a>
		</div>
		<div class="content-404">
			<img src="{{IMAGES_SERVICE}}/images/404/404.png" class="img-responsive" alt="" />
			<h1><b>OPPS!</b> Có lỗi xẩy ra!</h1>
			<p></p>
			<h2><a href="/">Trang chủ</a></h2>
		</div>
	</div>