@import url('../public/css/bootstrap.min.css');
@import url('../public/css/price-range.css');
@import url('../public/css/animate.css');
@import url('../public/css/main.css');
@import url('../public/css/responsive.css');

select {
    width: 120px;
    background-color:green;
    color: white;
}

table {
    max-width: unset !important;
}

table tr td {
    padding-left: 10px;
    padding-bottom: 10px;
}