<div>
	<app-heaer-v2></app-heaer-v2>
	<div id="fb-root"></div>
	<script async defer crossorigin="anonymous"
		src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.3"></script>
	<section>
		<div class="container">
			<div class="row">
				<div class="col-sm-12 padding-right">
					<div class="product-details">
						<div class="col-sm-5">
							<div class="view-product">
								<img src="{{IMAGES_SERVICE}}/images/home/{{ imagePreview }}" alt="" />
								<h3>{{ product.name }}</h3>
							</div>
							<div id="similar-product" class="carousel slide" data-ride="carousel">
								<!-- Wrapper for slides -->
								<div class="carousel-inner" *ngIf="product.image">
									<div class="item active">
										<a>
											<img style=" border: 1px solid black;width: 85px;height: 85px; "
												(click)="updateImage(firstImage)"
												src="{{IMAGES_SERVICE}}/images/home/{{ firstImage }}">
										</a>
										<a *ngFor="let proImage of product.images">
											<img style=" border: 1px solid black;width: 85px;height: 85px; "
												(click)="updateImage(proImage['images'])"
												src="{{IMAGES_SERVICE}}/images/home/{{ proImage['images'] }}">
										</a>
									</div>
								</div>
							</div>
							<div style=" margin-top: 30px; font-size: 20px; ">
								<p><b>Chi tiết:</b> {{ product.description }}</p>
							</div>
						</div>
						<div class="col-sm-7">
							<div class="product-information">
								<img src="{{ IMAGES_SERVICE }}/images/product-details/new.jpg" class="newarrival"
									alt="" />
								<h1>{{ product.name }}</h1>
								<hr />
								<p><b>- ID:</b> MSB-{{ product.id }}</p>
								<p><b>- Giá Tiền: </b><span>{{ product.price_per_unit | currency : "VND" }}</span></p>
								<hr />
								<table>
									<tr>
										<td><span>Số Lượng:</span></td>
										<td><input style=" width: 120px; " type="number" value="{{ quantity }}"
												(change)="validQuantity()" [(ngModel)]="quantity"
												[ngModelOptions]="{standalone: true}" /></td>
									</tr>
									<tr>
										<td><span>Size:</span></td>
										<td>
											<select [(ngModel)]="sizeSelected">
												<option value="-1">Chọn Size</option>
												<option *ngFor="let s of size" value="{{ s }}">{{ s }}</option>
											</select>
											<span style="color: red; margin-left: 10px;" *ngIf="!isSelectedSize"><i>(*)
													Vui lòng chọn kích cỡ
													của
													sản
													phầm!</i></span>
										</td>
									</tr>
									<tr>
										<td><span>Màu Sắc:</span></td>
										<td>
											<select [(ngModel)]="colorSelected" style="background-color: red"
												(change)="onChangeColor($event)">
												<option value="-1">Chọn Màu</option>
												<option *ngFor="let c of color" value="{{ c }}">
													{{ c | uppercase }}</option>
											</select>
											<span style="color: red; margin-left: 10px;" *ngIf="!isSelectedColor"><i>(*)
													Vui lòng chọn màu sắc
													của
													sản
													phầm!</i></span>
										</td>
									</tr>
								</table>
								<button type="button"
									style=" margin: 0px; margin-bottom: 15px; width: 40%; margin-right: 25px;"
									class="btn btn-fefault cart" (click)="addToCard(product.id, 'notPayment')">
									<i class="fa fa-shopping-cart"></i>
									Thêm vào giỏ hàng
								</button>
								<p><b>Shop:</b> HimHouse</p>
								<p><b>Tình trạng:</b> Còn hàng</p>
								<a href=""><img src="{{ IMAGES_SERVICE }}/images/product-details/share.png"
										class="share img-responsive" alt="" /></a>
							</div>
						</div>
					</div>
					<!-- ----------------------------------------------------------------------------------- -->
					<!-- ----------------------------------------------------------------------------------- -->
					<!-- Button trigger modal -->
					<!-- ----------------------------------------------------------------------------------- -->
					<!-- ----------------------------------------------------------------------------------- -->
					<!-- ----------------------------------------------------------------------------------- -->
					<!-- ----------------------------------------------------------------------------------- -->
					<div id="fb-root"></div>
					<div class="recommended_items">
						<h2 class="title text-center">Sản Phẩm Khác</h2>
						<div id="recommended-item-carousel" class="carousel slide" data-ride="carousel">
							<div class="carousel-inner">
								<div class="item active">
									<div class="col-sm-3" *ngFor="let dataProduct of listDataProductTop4">
										<div class="product-image-wrapper">
											<div class="single-products">
												<div class="productinfo text-center">
													<img src="{{IMAGES_SERVICE}}/images/home/{{ dataProduct.image }}"
														alt="" />
													<h2>{{ dataProduct.price_per_unit | currency : "VND"  }}</h2>
													<p>{{ dataProduct.name }}</p>
													<button type="button" class="btn btn-default add-to-cart"><i
															class="fa fa-shopping-cart"></i><a
															href="/product/{{ dataProduct.id }}">Chi Tiết</a></button>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="category-tab shop-details-tab">
						<div class="col-sm-12">
							<ul class="nav nav-tabs">
								<li class="active"><a href="#reviews" data-toggle="tab" style="color:white;">Bình
										Luận</a></li>
							</ul>
						</div>
						<div class="tab-content">
							<div class="tab-pane fade active in" id="reviews">
								<div class="col-sm-12">
									<p><b>Bình luận của bạn</b></p>
									<div class="fb-comments" data-href="http://localhost:4200/product/2"
										data-width="1000" data-numposts="10"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<app-footer></app-footer>
</div>