<div>
  <!-- <app-header (nameSearchFilter)="filterParent($event)"></app-header> -->
  <app-heaer-v2 (nameSearchFilter)="filterParent($event)"></app-heaer-v2>
  <section>
    <div class="container">
      <div class="row">
        <div class="col-sm-3">
          <div class="left-sidebar">
            <h2>Loại Giày</h2>
            <div class="panel-group category-products" id="accordian">
              <div class="panel panel-default" *ngFor="let dataCategory of listDataCategory">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a href="/category/{{ dataCategory.id }}">
                      {{ dataCategory.name }}
                    </a>
                  </h4>
                </div>
              </div>
            </div>
            <h2>Sản Phẩm</h2>
            <div class="panel-group category-products" id="accordian">
              <div class="panel panel-default" *ngFor="let dataType of listDataType">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" (click)="findByTypeId(dataType.id)">
                      {{ dataType.name }}
                    </a>
                  </h4>
                </div>
              </div>
              <h5 *ngIf="!isClickShowMoreProductType" style=" text-align: center; color: #858a8e; "
                (click)="showMoreSize(0)">Xem thêm</h5>
            </div>
            <h2>Size</h2>
            <div class="panel-group category-products" id="accordian">
              <div class="panel panel-default" *ngFor="let dataSize of listDateSize">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" (click)="findAllProductBySize(dataSize)">
                      Size {{ dataSize }}
                    </a>
                  </h4>
                </div>
              </div>
              <h5 *ngIf="!isClickShowMoreSize" style=" text-align: center; color: #858a8e; " (click)="showMoreSize(1)">
                Xem thêm</h5>
            </div>
          </div>
        </div>
        <div class="col-sm-9 padding-right">
          <div class="features_items">
            <div class="category-tab">
              <h4 style=" color: blue; text-align: center; ">{{ message }}</h4>
            </div>
            <div class="col-sm-4" *ngFor="let dataProduct of listDataProduct | paginate: config">
              <div class="product-image-wrapper">
                <div class="single-products">
                  <div class="productinfo text-center" (click)="redirect(dataProduct.id)">
                    <img src="{{IMAGES_SERVICE}}/images/home/{{ dataProduct.image }}" alt="" />
                    <h2 style=" white-space: nowrap; overflow: hidden; text-overflow: ellipsis; " data-toggle="tooltip"
                      title="{{ dataProduct.name }}">{{ dataProduct.name }}
                    </h2>
                    <p>{{ dataProduct.price_per_unit | number}} (vnđ)</p>
                    <a class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Chi
                      Tiết</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <pagination-controls style=" text-align: center; " (pageChange)="pageChanged($event)">
          </pagination-controls>
        </div>
      </div>
    </div>
  </section>
  <app-footer></app-footer>
</div>
<router-outlet></router-outlet>