@import url('../public/css/bootstrap.min.css');
@import url('../public/css/price-range.css');
@import url('../public/css/animate.css');
@import url('../public/css/main.css');
@import url('../public/css/responsive.css');

.dropdown:hover>.dropdown-menu {
    display: block;
}

.dropdown>.dropdown-toggle:active {
    pointer-events: none;
}
