<div>
  <app-heaer-v2></app-heaer-v2>
  <!--/#cart_items-->
  <section id="do_action">
    <div class="container">
      <div class="heading">
        <h3>Thông tin thanh toán.</h3>
        <p>Bạn vui lòng chọn hình thức thanh toán và kiểm tra lại thông tin đơn hàng dưới đây.</p>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div *ngIf="isPayments" class="chose_area">
            <ul class="user_option">
              <li *ngFor="let tran of trans">
                <input type="radio" [(ngModel)]="radioSelected" value="{{tran.value}}" name="payment"
                  (change)="onItemChange(tran)">
                <label>{{ tran.name }}</label>
              </li>
            </ul>
          </div>
          <div *ngIf="isPayments">
            <h3>Thông tin người nhận.</h3>
            <p>Bạn vui lòng kiểm tra lại thông tin người nhận dưới đây.</p>
          </div>
          <div *ngIf="isPayments" class="chose_area">
            <ul *ngIf="radioSelected == 0" class="user_option">
              Thông tin:
              <li>- Địa chỉ: <b>54a Vincom Nguyễn Chí Thanh.</b></li>
              <li>- Hotline: <b>0988.888.888.</b></li>
            </ul>
            <ul *ngIf="radioSelected == 1" class="user_option">
              Thông tin:
              <table>
                <tr>
                  <td>
                    - Người nhận:
                  </td>
                  <td>
                    <input [(ngModel)]="fullnameOrder" [ngModelOptions]="{standalone: true}" placeholder="Họ và tên"
                      type="text" value="{{ fullnameOrder }}">
                  </td>
                </tr>
                <tr>
                  <td>
                    - Điện thoại:
                  </td>
                  <td>
                    <input [(ngModel)]="phoneOrder" [ngModelOptions]="{standalone: true}" placeholder="0988888888"
                      type="text" value="{{ phoneOrder }}">
                  </td>
                </tr>
                <tr>
                  <td>
                    - Email:
                  </td>
                  <td>
                    <input [(ngModel)]="emailOrder" [ngModelOptions]="{standalone: true}"
                      placeholder="admin@gmail.com.vn" type="text" value="{{ emailOrder }}">
                  </td>
                </tr>
                <tr>
                  <td>
                    - Địa chỉ:
                  </td>
                  <td>
                    <textarea [(ngModel)]="adressOrder" [ngModelOptions]="{standalone: true}" rows="4"
                      cols="40">{{ adressOrder }}</textarea>
                  </td>
                </tr>
              </table>
            </ul>
            <div class="user_option">
              <h5 class="user_option" style="color: red;margin-left: 40px;"><i>{{message}}</i></h5>
            </div>
            <a class="btn btn-default update" (click)="order()">Đặt Hàng</a>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="total_area">
            <ul>
              <li>Tổng tiền <span>{{ totalBuy | currency : "VND" }}</span></li>
              <li>VAT <span>{{ 0.1 * totalBuy | currency : "VND" }}</span></li>
              <li *ngIf="isShowFeeShip">Phí Ship <span>Free</span></li>
              <li>Tổng hóa đơn <span>{{ totalBuy + 0.1 * totalBuy | currency : "VND" }}</span></li>
            </ul>
            <a *ngIf="!isClickPayemnt" class="btn btn-default update" (click)="paymentOrder()">Thanh Toán</a>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<router-outlet></router-outlet>