@import url('../public/css/bootstrap.min.css');
@import url('../public/css/price-range.css');
@import url('../public/css/animate.css');
@import url('../public/css/main.css');
@import url('../public/css/responsive.css');

input:hover {
    cursor: pointer !important;
}

.cart_quantity_input {
    width: 50px !important;
    background-color: green;
    color: white;
}