@import url('../public/css/bootstrap.min.css');
@import url('../public/css/price-range.css');
@import url('../public/css/animate.css');
@import url('../public/css/main.css');
@import url('../public/css/responsive.css');

#footer {
    background-color: black !important;
}

.single-widget {
    color: white !important;
}