<footer id="footer">
	<!--Footer-->
	<div class="footer-widget">
		<div class="container">
			<div class="row">
				<div class="col-sm-2">
					<div class="single-widget">
						<h2>Dịch Vụ</h2>
						<ul class="nav nav-pills nav-stacked">
							<li><a href="#">Tư Vấn Trực Tuyến</a></li>
							<li><a href="#">Trạng Thái Đơn Hàng</a></li>
							<li><a href="#">Vận chuyển</a></li>
							<li><a href="#">Thanh toán</a></li>
							<li><a href="#">Liên hệ</a></li>
						</ul>
					</div>
				</div>
				<div class="col-sm-2">
					<div class="single-widget">
						<h2>Policies</h2>
						<ul class="nav nav-pills nav-stacked">
							<li><a href="#">Terms of Use</a></li>
							<li><a href="#">Privecy Policy</a></li>
							<li><a href="#">Refund Policy</a></li>
							<li><a href="#">Billing System</a></li>
							<li><a href="#">Ticket System</a></li>
						</ul>
					</div>
				</div>
				<div class="col-sm-2">
					<div class="single-widget">
						<h2>Giới Thiệu Về Shop</h2>
						<ul class="nav nav-pills nav-stacked">
							<li><a href="#">Thông tin shop</a></li>
							<li><a href="#">Địa chỉ</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="footer-bottom">
		<div class="container">
			<div class="row">
				<p class="pull-left">Copyright © 2019.</p>
			</div>
		</div>
	</div>

</footer>
<!--/Footer-->